# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# VuePress build output
docs/.vuepress/dist/
.vuepress/dist/

# VuePress temp/cache
docs/.vuepress/.cache/
docs/.vuepress/.temp/
.vuepress/.cache/
.vuepress/.temp/


# Local env files
.env.local
.env.*.local

# Mac & OS files
.DS_Store
Thumbs.db

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo


# Applications
*.app
*.exe
*.war

# Large media files
*.tiff
*.avi
*.flv
*.mov
*.wmv